/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #F0F0F0;
    padding-top: 40px;
    padding-bottom: 40px;
}

page-section {
    box-sizing: border-box;
    border: dotted 1px #CCC;
    padding: 10px;
    margin: 10px;
    width: 50vh;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr 0.2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
       "header header header header"
       "main main . sidebar"
       "footer footer footer footer";
 }
 