/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 25px;
    font-family: 'sans-serif';
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #F0F0F0;
    padding-top: 40px;
    padding-bottom: 40px;
}

page-section {
    box-sizing: border-box;
    border: dotted 1px #CCC;
    padding: 10px;
    margin: 10px;
    width: 50vh;
}

.container {
    color: purple;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr;
    grid-row-gap: 15px;
    grid-template-areas:
       "a . b b"
       "c d e f"
       "g g g f";
    min-height: 100vh;
 }


article, aside, section, main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1.5px #000
}
.menu1 {
    grid-area: a;
    background: lightgrey;
    margin: 5px;
}
.menu2 {
    grid-area: b;
    background: grey;
    color: grey;
    margin: 5px;
}