body {
    margin: 15px;
 }
 body * {
    box-sizing: border-box;
 }
 
 #gallery {
    column-count: 3;
    column-gap: 15px;
 /*    display: flex;
    flex-wrap: wrap; */
 }
 
 .card {
    margin-bottom: 15px;
    border: solid 2px black;
    flex-direction: column;
    break-inside: avoid;
 }
 
 img {
    width: 100%;
    break-inside: avoid;
 }
 
 @media screen and (max-width: 700px) {
    #gallery {
       column-count: 2;
       column-gap: 15px;
    }
 }
 html {
    font-family: monospace;
    line-height: 1.15;
    text-align: center;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent; }

    .cd-top--is-visible { 
        font-family: monospace;
        visibility: visible;
        opacity: 1;
      }
      
      .cd-top--fade-out { 
        font-family: monospace;
        opacity: .5;
      }