body {
   margin: 15px;
}
body * {
   box-sizing: border-box;
}

#gallery {
   column-count: 4;
   column-gap: 15px;
/*    display: flex;
   flex-wrap: wrap; */
}

.card {
   margin-bottom: 15px;
   border: solid 1px #ccc;
   flex-direction: column;
   break-inside: avoid;
}

img {
   width: 100%;
   break-inside: avoid;
}

@media screen and (max-width: 700px) {
   #gallery {
      column-count: 2;
      column-gap: 15px;
   }
}